.navbar{
    padding-left: 30px;
    padding-right: 30px;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-group{
    display: flex;
    align-items: start;
    gap: 2vw;
    margin: 2vw;
}

.input-elements{
    padding: 30px;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a img{
    width: 30px;
}
ul li{
    margin-left: 10px;
}
