<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="{{ url_for('static', filename='images/card_icon.png') }}"
        type="image/x-icon" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <title>Credit Fraud Detector</title>
  </head>

  <body>
    <header>
      <nav class="navbar">
        <ul class="nav-brand">
          <li><strong>Tanmoy Pradhan</strong></li>
        </ul>
        <ul class="icons">
          <li>
            <a href="/" data-tooltip="Home"
              ><img
                src="{{ url_for('static', filename='images/house.png') }}"
                alt=""
            /></a>
          </li>
          <li>
            <a href="https://github.com/Tanmoy0077/" data-tooltip="GitHub">
              <img
                src="{{ url_for('static', filename='images/github.png') }}"
                alt=""
              />
            </a>
          </li>
          <li>
            <a
              href="http://www.linkedin.com/in/tanmoy0077-data"
              data-tooltip="LinkedIn"
            >
              <img
                src="{{ url_for('static', filename='images/linkedin.png') }}"
                alt=""
              />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    {% block content %} {% endblock %}
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
